* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.a {
    list-style-type: square;
}

/* Style the header */

.header {
    background-image: url("../images/purp.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    text-align: center;

}

/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;

}

/* Left and right column */

.column.side {
    width: 20%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

/* Middle column */

.column.middle {
    width: 50%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

h1 {
    color: #0341e6;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: center;
}

.one {
    background-color: rgba(198, 186, 230, 0.85);
    width: 45%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: left;
}

.two {
    width: 45%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: right;
}

.pics {
    border: 1px;
    border-style: solid;
    box-shadow: 5px 5px;
}

.ken {
    width: 45%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    float: left;
}

#dan {
    width: 70%;
}

#zane {
    width: 40%;
}

#josh {
    width: 50%;
}

#eddy {
    width: 60%;
}

#kenny {
    width: 75%;
}

#show {
    width: 60%;
}

#montage {
    width: 100%;
}
#bc {
    width: 100%;
    border-radius: 25%;
}
