body { background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
height: 100vh;
    }
h1 {
    color: #0341e6;
    text-align: center;
}
.one {
    background-color: rgba(198, 186, 230, 0.85);
    width: 45%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: left;
}
.two {
    width: 45%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: right;
}
.pics{ border: 1px;
    border-style:solid;
    box-shadow: 5px 5px;
    }
.ken{
    width: 45%;
    background-color: rgba(198, 186, 230, 0.85);
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    float:left;
}
#dan {
    width: 70%;
}
#zane {
    width: 40%;
}
#josh {
    width: 50%;
}
#eddy {
    width: 60%;
}
#kenny {
    width: 75%;
}